.main {
    height: 100vh;
}

.navbar{
    background: #1a1a1a;
}
.sidebar {
    background: #333333;
    color: #ffac42;
}

.sidebar a {
    color: #ffac42;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}

.sidebar a:hover{
    color: #ffac42;
    background: #1a1a1a;
}

.active {
    background: #1a1a1a;
    border-right: 5px solid #ff1f57;
}

.card-data i{
    font-size: 50px;
}

.card-data {
    padding: 20px 30px;
    border-radius: 5px;
    color: #fff;
}

.card-data.book{
    background: teal;
}

.card-data.category{
    background: orangered;
}

.card-data.user{
    background: rgb(121, 38, 121);
}

.card-desc{
    font-size: 27px;
}

.card-count{
    font-size: 27px;
}